.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-font{ color: #ffffff !important; font-weight:bold; }
.button-color{ background-color: #fc841c; color: #ffffff; }
.text-color{ color: #fc841c; }
.border-color{ border: 2px solid #fc841c; }
/*body{font-family: "Trirong", serif;}*/

/*cart*/
.btn-outline-orange {
  color: #fc841c;
  border-color:  #fc841c;
}

.btn-outline-orange:hover {
  color: #ffffff;
  background-color:  #fc841c;
  border-color:  #fc841c;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
  box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color:  #fc841c;
  background-color: transparent;
}


   
     




/* Sidebar */



